In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.6 MB 9.8 MB/s eta 0:00:01
   ------------------ --------------------- 5.2/11.6 MB 12.3 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 13.0 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 14.0 MB/s eta 0:00:00
Downloading numpy-2.1.1-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   ----------------- ---------------------- 5.5/12.9 MB 25.8 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.9 MB 17.5 MB/s eta 0:00:01
   ------------------------- -------------- 8.1/12.9 MB 13.2 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.9 MB 11.6 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.9 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 10.8 MB/s eta 0:00:00
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.1 pandas-2.2.3 pytz-2024.2 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install ipykernel -U --force-reinstall

Collecting ipykernel
  Using cached ipykernel-6.29.5-py3-none-any.whl.metadata (6.3 kB)
Collecting comm>=0.1.1 (from ipykernel)
  Using cached comm-0.2.2-py3-none-any.whl.metadata (3.7 kB)
Collecting debugpy>=1.6.5 (from ipykernel)
  Using cached debugpy-1.8.6-cp311-cp311-win_amd64.whl.metadata (1.1 kB)
Collecting ipython>=7.23.1 (from ipykernel)
  Using cached ipython-8.27.0-py3-none-any.whl.metadata (5.0 kB)
Collecting jupyter-client>=6.1.12 (from ipykernel)
  Using cached jupyter_client-8.6.3-py3-none-any.whl.metadata (8.3 kB)
Collecting jupyter-core!=5.0.*,>=4.12 (from ipykernel)
  Using cached jupyter_core-5.7.2-py3-none-any.whl.metadata (3.4 kB)
Collecting matplotlib-inline>=0.1 (from ipykernel)
  Using cached matplotlib_inline-0.1.7-py3-none-any.whl.metadata (3.9 kB)
Collecting nest-asyncio (from ipykernel)
  Using cached nest_asyncio-1.6.0-py3-none-any.whl.metadata (2.8 kB)
Collecting packaging (from ipykernel)
  Using cached packaging-24.1-py3-none-any.whl.metadata (3.2 kB)
Collecting psutil (from ipykernel)
  Using cached psutil-6.0.0-cp37-abi3-win_amd64.whl.metadata (22 kB)
Collecting pyzmq>=24 (from ipykernel)
  Using cached pyzmq-26.2.0-cp311-cp311-win_amd64.whl.metadata (6.2 kB)
Collecting tornado>=6.1 (from ipykernel)
  Using cached tornado-6.4.1-cp38-abi3-win_amd64.whl.metadata (2.6 kB)
Collecting traitlets>=5.4.0 (from ipykernel)
  Using cached traitlets-5.14.3-py3-none-any.whl.metadata (10 kB)
Collecting decorator (from ipython>=7.23.1->ipykernel)
  Using cached decorator-5.1.1-py3-none-any.whl.metadata (4.0 kB)
Collecting jedi>=0.16 (from ipython>=7.23.1->ipykernel)
  Using cached jedi-0.19.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting prompt-toolkit<3.1.0,>=3.0.41 (from ipython>=7.23.1->ipykernel)
  Using cached prompt_toolkit-3.0.48-py3-none-any.whl.metadata (6.4 kB)
Collecting pygments>=2.4.0 (from ipython>=7.23.1->ipykernel)
  Using cached pygments-2.18.0-py3-none-any.whl.metadata (2.5 kB)
Collecting stack-data (from ipython>=7.23.1->ipykernel)
  Using cached stack_data-0.6.3-py3-none-any.whl.metadata (18 kB)
Collecting typing-extensions>=4.6 (from ipython>=7.23.1->ipykernel)
  Using cached typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting colorama (from ipython>=7.23.1->ipykernel)
  Using cached colorama-0.4.6-py2.py3-none-any.whl.metadata (17 kB)
Collecting python-dateutil>=2.8.2 (from jupyter-client>=6.1.12->ipykernel)
  Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting platformdirs>=2.5 (from jupyter-core!=5.0.*,>=4.12->ipykernel)
  Using cached platformdirs-4.3.6-py3-none-any.whl.metadata (11 kB)
Collecting pywin32>=300 (from jupyter-core!=5.0.*,>=4.12->ipykernel)
  Using cached pywin32-306-cp311-cp311-win_amd64.whl.metadata (6.5 kB)
Collecting parso<0.9.0,>=0.8.3 (from jedi>=0.16->ipython>=7.23.1->ipykernel)
  Using cached parso-0.8.4-py2.py3-none-any.whl.metadata (7.7 kB)
Collecting wcwidth (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel)
  Using cached wcwidth-0.2.13-py2.py3-none-any.whl.metadata (14 kB)
Collecting six>=1.5 (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel)
  Using cached six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Collecting executing>=1.2.0 (from stack-data->ipython>=7.23.1->ipykernel)
  Using cached executing-2.1.0-py2.py3-none-any.whl.metadata (8.9 kB)
Collecting asttokens>=2.1.0 (from stack-data->ipython>=7.23.1->ipykernel)
  Using cached asttokens-2.4.1-py2.py3-none-any.whl.metadata (5.2 kB)
Collecting pure-eval (from stack-data->ipython>=7.23.1->ipykernel)
  Using cached pure_eval-0.2.3-py3-none-any.whl.metadata (6.3 kB)
Using cached ipykernel-6.29.5-py3-none-any.whl (117 kB)
Using cached comm-0.2.2-py3-none-any.whl (7.2 kB)
Using cached debugpy-1.8.6-cp311-cp311-win_amd64.whl (5.1 MB)
Using cached ipython-8.27.0-py3-none-any.whl (818 kB)
Using cached jupyter_client-8.6.3-py3-none-any.whl (106 kB)
Using cached jupyter_core-5.7.2-py3-none-any.whl (28 kB)
Using cached matplotlib_inline-0.1.7-py3-none-any.whl (9.9 kB)
Using cached pyzmq-26.2.0-cp311-cp311-win_amd64.whl (642 kB)
Using cached tornado-6.4.1-cp38-abi3-win_amd64.whl (438 kB)
Using cached traitlets-5.14.3-py3-none-any.whl (85 kB)
Using cached nest_asyncio-1.6.0-py3-none-any.whl (5.2 kB)
Using cached packaging-24.1-py3-none-any.whl (53 kB)
Using cached psutil-6.0.0-cp37-abi3-win_amd64.whl (257 kB)
Using cached jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
Using cached platformdirs-4.3.6-py3-none-any.whl (18 kB)
Using cached prompt_toolkit-3.0.48-py3-none-any.whl (386 kB)
Using cached pygments-2.18.0-py3-none-any.whl (1.2 MB)
Using cached python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
Using cached pywin32-306-cp311-cp311-win_amd64.whl (9.2 MB)
Using cached typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Using cached colorama-0.4.6-py2.py3-none-any.whl (25 kB)
Using cached decorator-5.1.1-py3-none-any.whl (9.1 kB)
Using cached stack_data-0.6.3-py3-none-any.whl (24 kB)
Using cached asttokens-2.4.1-py2.py3-none-any.whl (27 kB)
Using cached executing-2.1.0-py2.py3-none-any.whl (25 kB)
Using cached parso-0.8.4-py2.py3-none-any.whl (103 kB)
Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Using cached pure_eval-0.2.3-py3-none-any.whl (11 kB)
Using cached wcwidth-0.2.13-py2.py3-none-any.whl (34 kB)
Installing collected packages: wcwidth, pywin32, pure-eval, typing-extensions, traitlets, tornado, six, pyzmq, pygments, psutil, prompt-toolkit, platformdirs, parso, packaging, nest-asyncio, executing, decorator, debugpy, colorama, python-dateutil, matplotlib-inline, jupyter-core, jedi, comm, asttokens, stack-data, jupyter-client, ipython, ipykernel
  Attempting uninstall: wcwidth
    Found existing installation: wcwidth 0.2.13
    Uninstalling wcwidth-0.2.13:
      Successfully uninstalled wcwidth-0.2.13
  Attempting uninstall: pywin32
    Found existing installation: pywin32 306
    Uninstalling pywin32-306:
      Successfully uninstalled pywin32-306
  Attempting uninstall: pure-eval
    Found existing installation: pure_eval 0.2.3
    Uninstalling pure_eval-0.2.3:
      Successfully uninstalled pure_eval-0.2.3
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.12.2
    Uninstalling typing_extensions-4.12.2:
      Successfully uninstalled typing_extensions-4.12.2
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.14.3
    Uninstalling traitlets-5.14.3:
      Successfully uninstalled traitlets-5.14.3
  Attempting uninstall: tornado
    Found existing installation: tornado 6.4.1
    Uninstalling tornado-6.4.1:
      Successfully uninstalled tornado-6.4.1
  Attempting uninstall: six
    Found existing installation: six 1.16.0
    Uninstalling six-1.16.0:
      Successfully uninstalled six-1.16.0
  Attempting uninstall: pyzmq
    Found existing installation: pyzmq 26.2.0
    Uninstalling pyzmq-26.2.0:
      Successfully uninstalled pyzmq-26.2.0
  Attempting uninstall: pygments
    Found existing installation: Pygments 2.18.0
    Uninstalling Pygments-2.18.0:
      Successfully uninstalled Pygments-2.18.0
  Attempting uninstall: psutil
    Found existing installation: psutil 6.0.0
    Uninstalling psutil-6.0.0:
      Successfully uninstalled psutil-6.0.0
  Attempting uninstall: prompt-toolkit
    Found existing installation: prompt_toolkit 3.0.48
    Uninstalling prompt_toolkit-3.0.48:
      Successfully uninstalled prompt_toolkit-3.0.48
  Attempting uninstall: platformdirs
    Found existing installation: platformdirs 4.3.6
    Uninstalling platformdirs-4.3.6:
      Successfully uninstalled platformdirs-4.3.6
  Attempting uninstall: parso
    Found existing installation: parso 0.8.4
    Uninstalling parso-0.8.4:
      Successfully uninstalled parso-0.8.4
  Attempting uninstall: packaging
    Found existing installation: packaging 24.1
    Uninstalling packaging-24.1:
      Successfully uninstalled packaging-24.1
  Attempting uninstall: nest-asyncio
    Found existing installation: nest-asyncio 1.6.0
    Uninstalling nest-asyncio-1.6.0:
      Successfully uninstalled nest-asyncio-1.6.0
  Attempting uninstall: executing
    Found existing installation: executing 2.1.0
    Uninstalling executing-2.1.0:
      Successfully uninstalled executing-2.1.0
  Attempting uninstall: decorator
    Found existing installation: decorator 5.1.1
    Uninstalling decorator-5.1.1:
      Successfully uninstalled decorator-5.1.1
  Attempting uninstall: debugpy
    Found existing installation: debugpy 1.8.6
    Uninstalling debugpy-1.8.6:
      Successfully uninstalled debugpy-1.8.6
  Attempting uninstall: colorama
    Found existing installation: colorama 0.4.6
    Uninstalling colorama-0.4.6:
      Successfully uninstalled colorama-0.4.6
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.9.0.post0
    Uninstalling python-dateutil-2.9.0.post0:
      Successfully uninstalled python-dateutil-2.9.0.post0
  Attempting uninstall: matplotlib-inline
    Found existing installation: matplotlib-inline 0.1.7
    Uninstalling matplotlib-inline-0.1.7:
      Successfully uninstalled matplotlib-inline-0.1.7
  Attempting uninstall: jupyter-core
    Found existing installation: jupyter_core 5.7.2
    Uninstalling jupyter_core-5.7.2:
      Successfully uninstalled jupyter_core-5.7.2
  Attempting uninstall: jedi
    Found existing installation: jedi 0.19.1
    Uninstalling jedi-0.19.1:
      Successfully uninstalled jedi-0.19.1
  Attempting uninstall: comm
    Found existing installation: comm 0.2.2
    Uninstalling comm-0.2.2:
      Successfully uninstalled comm-0.2.2
  Attempting uninstall: asttokens
    Found existing installation: asttokens 2.4.1
    Uninstalling asttokens-2.4.1:
      Successfully uninstalled asttokens-2.4.1
  Attempting uninstall: stack-data
    Found existing installation: stack-data 0.6.3
    Uninstalling stack-data-0.6.3:
      Successfully uninstalled stack-data-0.6.3
  Attempting uninstall: jupyter-client
    Found existing installation: jupyter_client 8.6.3
    Uninstalling jupyter_client-8.6.3:
      Successfully uninstalled jupyter_client-8.6.3
  Attempting uninstall: ipython
    Found existing installation: ipython 8.27.0
    Uninstalling ipython-8.27.0:
      Successfully uninstalled ipython-8.27.0
  Attempting uninstall: ipykernel
    Found existing installation: ipykernel 6.29.5
    Uninstalling ipykernel-6.29.5:
      Successfully uninstalled ipykernel-6.29.5
Successfully installed asttokens-2.4.1 colorama-0.4.6 comm-0.2.2 debugpy-1.8.6 decorator-5.1.1 executing-2.1.0 ipykernel-6.29.5 ipython-8.27.0 jedi-0.19.1 jupyter-client-8.6.3 jupyter-core-5.7.2 matplotlib-inline-0.1.7 nest-asyncio-1.6.0 packaging-24.1 parso-0.8.4 platformdirs-4.3.6 prompt-toolkit-3.0.48 psutil-6.0.0 pure-eval-0.2.3 pygments-2.18.0 python-dateutil-2.9.0.post0 pywin32-306 pyzmq-26.2.0 six-1.16.0 stack-data-0.6.3 tornado-6.4.1 traitlets-5.14.3 typing-extensions-4.12.2 wcwidth-0.2.13
Note: you may need to restart the kernel to use updated packages.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Jacquline\OneDrive\Desktop\DVDRental\.venv\Lib\site-packages\~ornado'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Jacquline\OneDrive\Desktop\DVDRental\.venv\Lib\site-packages\~mq'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Jacquline\OneDrive\Desktop\DVDRental\.venv\Lib\site-packages\~sutil'.
  You can safely remove it manually.
  WARNING: Failed to remove contents in a temporary directory 'C:\Users\Jacquline\OneDrive\Desktop\DVDRental\.venv\Lib\site-packages\~ebugpy'.
  You can safely remove it manually.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")
df

,inventory_id,film_id,title,rental_duration,rental_rate,length,replacement_cost,rating,category,language,store_id,rental_id,rental_date,customer_id,return_date,amount,active
0,3419,749,Rules Human,6,4.99,153,19.99,R,Horror,English,1,1520,2005-06-15 23:57:20,341,2005-06-24 23:46:20,7.99,1
1,2512,552,Majestic Floats,5,0.99,130,15.99,PG,Documentary,English,2,1778,2005-06-16 18:54:48,341,2005-06-22 16:08:48,1.99,1
2,2507,551,Maiden Home,3,4.99,138,9.99,PG,New,English,1,1849,2005-06-17 00:13:19,341,2005-06-23 18:37:19,7.99,1
3,2047,445,Hyde Doctor,5,2.99,100,11.99,G,Classics,English,1,2829,2005-06-19 21:11:30,341,2005-06-24 18:10:30,2.99,1
4,2569,563,Massacre Usual,6,4.99,165,16.99,R,Games,English,1,3130,2005-06-20 19:03:22,341,2005-06-29 18:05:22,7.99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14591,1148,254,Driver Annie,4,2.99,159,11.99,PG-13,Sports,English,1,12682,2006-02-14 15:16:03,245,NaN,2.99,1
14592,3998,870,Swarm Gold,4,0.99,123,12.99,PG-13,Horror,English,2,14107,2006-02-14 15:16:03,251,NaN,0.99,1
14593,1146,253,Drifter Commandments,5,4.99,61,18.99,PG-13,Action,English,2,13756,2006-02-14 15:16:03,252,NaN,4.99,1
14594,1219,270,Earth Vision,7,0.99,85,29.99,NC-17,New,English,2,15293,2006-02-14 15:16:03,263,NaN,0.99,1
14595,1489,326,Flying Hook,6,2.99,69,18.99,NC-17,Animation,English,2,14243,2006-02-14 15:16:03,264,NaN,2.99,1

In [3]:
df.isnull().sum()

inventory_id          0
film_id               0
title                 0
rental_duration       0
rental_rate           0
length                0
replacement_cost      0
rating                0
category              0
language              0
store_id              0
rental_id             0
rental_date           0
customer_id           0
return_date         183
amount                0
active                0
dtype: int64

In [4]:
df.dropna(subset="return_date",inplace=True)

In [108]:
df.isnull().sum()

inventory_id        0
film_id             0
title               0
rental_duration     0
rental_rate         0
length              0
replacement_cost    0
rating              0
category            0
language            0
store_id            0
rental_id           0
rental_date         0
customer_id         0
return_date         0
amount              0
active              0
dtype: int64

In [5]:
df["language"].value_counts()

language
English                 14413
Name: count, dtype: int64

In [6]:
df.drop(columns="language",inplace=True)

In [111]:
df.columns

Index(['inventory_id', 'film_id', 'title', 'rental_duration', 'rental_rate',
       'length', 'replacement_cost', 'rating', 'category', 'store_id',
       'rental_id', 'rental_date', 'customer_id', 'return_date', 'amount',
       'active'],
      dtype='object')

In [112]:
df["return_date"]

0        2005-06-24 23:46:20
1        2005-06-22 16:08:48
2        2005-06-23 18:37:19
3        2005-06-24 18:10:30
4        2005-06-29 18:05:22
                ...
14409    2005-07-17 17:59:35
14410    2005-07-13 01:49:42
14411    2005-07-19 10:37:16
14412    2005-08-04 21:51:06
14413    2005-08-02 11:44:24
Name: return_date, Length: 14413, dtype: object

In [7]:
# Convert the column to datetime
df['return_date'] = pd.to_datetime(df['return_date'])

# Separate the date and time
df['date'] = df['return_date'].dt.date
df['time'] = df['return_date'].dt.time

In [8]:
# Extract year, month, and day
df['year'] = df['return_date'].dt.year
df['month'] = df['return_date'].dt.month
df['day'] = df['return_date'].dt.day

print(df[['year', 'month', 'day']])

       year  month  day
0      2005      6   24
1      2005      6   22
2      2005      6   23
3      2005      6   24
4      2005      6   29
...     ...    ...  ...
14409  2005      7   17
14410  2005      7   13
14411  2005      7   19
14412  2005      8    4
14413  2005      8    2

[14413 rows x 3 columns]

In [115]:
df.columns

Index(['inventory_id', 'film_id', 'title', 'rental_duration', 'rental_rate',
       'length', 'replacement_cost', 'rating', 'category', 'store_id',
       'rental_id', 'rental_date', 'customer_id', 'return_date', 'amount',
       'active', 'date', 'time', 'year', 'month', 'day'],
      dtype='object')

In [9]:
df.info

<bound method DataFrame.info of        inventory_id  film_id                   title  rental_duration  \
0              3419      749             Rules Human                6
1              2512      552         Majestic Floats                5
2              2507      551             Maiden Home                3
3              2047      445             Hyde Doctor                5
4              2569      563          Massacre Usual                6
...             ...      ...                     ...              ...
14409           650      141           Chicago North                6
14410          1679      366  Goldfinger Sensibility                3
14411          4552      993          Wrong Behavior                6
14412          2290      496           Kick Savannah                3
14413          2815      618       Necklace Outbreak                3

       rental_rate  length  replacement_cost rating     category  store_id  \
0             4.99     153             19.99      R       Horror         1
1             0.99     130             15.99     PG  Documentary         2
2             4.99     138              9.99     PG          New         1
3             2.99     100             11.99      G     Classics         1
4             4.99     165             16.99      R        Games         1
...            ...     ...               ...    ...          ...       ...
14409         4.99     185             11.99  PG-13        Games         1
14410         0.99      93             29.99      G        Drama         2
14411         2.99     178             10.99  PG-13     Children         2
14412         0.99     179             10.99  PG-13       Travel         2
14413         0.99     132             21.99     PG        Drama         2

       ...          rental_date customer_id         return_date amount  \
0      ...  2005-06-15 23:57:20         341 2005-06-24 23:46:20   7.99
1      ...  2005-06-16 18:54:48         341 2005-06-22 16:08:48   1.99
2      ...  2005-06-17 00:13:19         341 2005-06-23 18:37:19   7.99
3      ...  2005-06-19 21:11:30         341 2005-06-24 18:10:30   2.99
4      ...  2005-06-20 19:03:22         341 2005-06-29 18:05:22   7.99
...    ...                  ...         ...                 ...    ...
14409  ...  2005-07-09 17:11:35         267 2005-07-17 17:59:35   6.99
14410  ...  2005-07-11 04:47:42         267 2005-07-13 01:49:42   0.99
14411  ...  2005-07-12 12:59:16         267 2005-07-19 10:37:16   3.99
14412  ...  2005-07-28 22:47:06         267 2005-08-04 21:51:06   4.99
14413  ...  2005-07-29 11:51:24         267 2005-08-02 11:44:24   1.99

       active        date      time  year  month  day
0           1  2005-06-24  23:46:20  2005      6   24
1           1  2005-06-22  16:08:48  2005      6   22
2           1  2005-06-23  18:37:19  2005      6   23
3           1  2005-06-24  18:10:30  2005      6   24
4           1  2005-06-29  18:05:22  2005      6   29
...       ...         ...       ...   ...    ...  ...
14409       1  2005-07-17  17:59:35  2005      7   17
14410       1  2005-07-13  01:49:42  2005      7   13
14411       1  2005-07-19  10:37:16  2005      7   19
14412       1  2005-08-04  21:51:06  2005      8    4
14413       1  2005-08-02  11:44:24  2005      8    2

[14413 rows x 21 columns]>

In [117]:
df["title"]

0                   Rules Human
1               Majestic Floats
2                   Maiden Home
3                   Hyde Doctor
4                Massacre Usual
                  ...
14409             Chicago North
14410    Goldfinger Sensibility
14411            Wrong Behavior
14412             Kick Savannah
14413         Necklace Outbreak
Name: title, Length: 14413, dtype: object

In [10]:
df.nunique()

inventory_id         4580
film_id               958
title                 958
rental_duration         5
rental_rate             3
length                140
replacement_cost       21
rating                  5
category               16
store_id                2
rental_id           14409
rental_date         14362
customer_id           599
return_date         14388
amount                 12
active                  2
date                   67
time                13262
year                    1
month                   4
day                    31
dtype: int64

In [11]:
df.drop(columns="title",inplace=True)

In [120]:
df.columns

Index(['inventory_id', 'film_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'category', 'store_id', 'rental_id',
       'rental_date', 'customer_id', 'return_date', 'amount', 'active', 'date',
       'time', 'year', 'month', 'day'],
      dtype='object')

In [121]:
df["replacement_cost"]

0        19.99
1        15.99
2         9.99
3        11.99
4        16.99
         ...
14409    11.99
14410    29.99
14411    10.99
14412    10.99
14413    21.99
Name: replacement_cost, Length: 14413, dtype: float64

In [80]:
df["rating"]

0            R
1           PG
2           PG
3            G
4            R
         ...
14409    PG-13
14410        G
14411    PG-13
14412    PG-13
14413       PG
Name: rating, Length: 14413, dtype: object

In [12]:
df['rating'].value_counts()

rating
PG-13    3203
NC-17    2964
PG       2903
R        2868
G        2475
Name: count, dtype: int64

In [13]:
df['rating'] = df['rating'].map({"PG-13":0,'NC-17':1,'PG':2,'R':3,"G":4})

In [14]:
df['rating'].value_counts()

rating
0    3203
1    2964
2    2903
3    2868
4    2475
Name: count, dtype: int64

In [28]:
df["category"]

0             Horror
1        Documentary
2                New
3           Classics
4              Games
            ...
14409          Games
14410          Drama
14411       Children
14412         Travel
14413          Drama
Name: category, Length: 14413, dtype: object

In [15]:
df['category'].value_counts()

category
Sports         1066
Animation      1044
Action          996
Sci-Fi          990
Family          975
Drama           946
Foreign         942
Documentary     930
Games           870
Children        855
New             851
Classics        851
Comedy          842
Horror          761
Travel          755
Music           739
Name: count, dtype: int64

In [16]:
df['category'].unique()

array(['Horror', 'Documentary', 'New', 'Classics', 'Games', 'Sci-Fi',
       'Foreign', 'Family', 'Travel', 'Music', 'Sports', 'Comedy',
       'Drama', 'Action', 'Children', 'Animation'], dtype=object)

In [17]:
df['category'] = df['category'].map({'Horror':0, 'Documentary':1, 'New':2, 'Classics':3, 'Games':4, 'Sci-Fi':5,
       'Foreign':6, 'Family':7, 'Travel':8, 'Music':9, 'Sports':10, 'Comedy':11,
       'Drama':12, 'Action':13, 'Children':14, 'Animation':15}) #here we are mapping values for every category

In [18]:
df['category'].value_counts()

category
10    1066
15    1044
13     996
5      990
7      975
12     946
6      942
1      930
4      870
14     855
2      851
3      851
11     842
0      761
8      755
9      739
Name: count, dtype: int64

In [19]:
df.drop(['inventory_id','film_id','store_id','rental_id','customer_id'], axis=1, inplace=True)

In [123]:
df.columns

Index(['rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'rating', 'category', 'rental_date', 'return_date', 'amount', 'active',
       'date', 'time', 'year', 'month', 'day'],
      dtype='object')

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from scikit-learn) (2.1.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jacquline\onedrive\desktop\dvdrental\.venv\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
import pickle

In [22]:
continuous_column_to_iterate = ['rental_rate', 'replacement_cost']

In [23]:
#encoding
encoders_cont = {}
for col in continuous_column_to_iterate:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col])
    encoders_cont[col] = encoder

with open('label_encoders.pkl', 'wb') as f:
    pickle.dump(encoders_cont, f)

In [24]:
df.shape

(14413, 15)

In [25]:
df.head()

,rental_duration,rental_rate,length,replacement_cost,rating,category,rental_date,return_date,amount,active,date,time,year,month,day
0,6,2,153,10,3,0,2005-06-15 23:57:20,2005-06-24 23:46:20,7.99,1,2005-06-24,23:46:20,2005,6,24
1,5,0,130,6,2,1,2005-06-16 18:54:48,2005-06-22 16:08:48,1.99,1,2005-06-22,16:08:48,2005,6,22
2,3,2,138,0,2,2,2005-06-17 00:13:19,2005-06-23 18:37:19,7.99,1,2005-06-23,18:37:19,2005,6,23
3,5,1,100,2,4,3,2005-06-19 21:11:30,2005-06-24 18:10:30,2.99,1,2005-06-24,18:10:30,2005,6,24
4,6,2,165,7,3,4,2005-06-20 19:03:22,2005-06-29 18:05:22,7.99,1,2005-06-29,18:05:22,2005,6,29

In [26]:
df.drop(columns="return_date",inplace=True)

In [27]:
df.drop(columns="time",inplace=True)

In [28]:
df.drop(columns="rental_date",inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14413 entries, 0 to 14413
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rental_duration   14413 non-null  int64
 1   rental_rate       14413 non-null  int64
 2   length            14413 non-null  int64
 3   replacement_cost  14413 non-null  int64
 4   rating            14413 non-null  int64
 5   category          14413 non-null  int64
 6   amount            14413 non-null  float64
 7   active            14413 non-null  int64
 8   date              14413 non-null  object
 9   year              14413 non-null  int32
 10  month             14413 non-null  int32
 11  day               14413 non-null  int32
dtypes: float64(1), int32(3), int64(7), object(1)
memory usage: 1.3+ MB

EDA

In [30]:
cont=[]
cat=[]
for i in df.columns:
    if df[i].nunique()>10:
        cont.append(i)
    else:
       cat.append(i)

In [31]:
cont

['length', 'replacement_cost', 'category', 'amount', 'date', 'day']

In [32]:
cat

['rental_duration', 'rental_rate', 'rating', 'active', 'year', 'month']

In [33]:
print(df.shape)

(14413, 12)

In [48]:
# Separate features and target
x = df.drop('amount', axis=1)  # Replace 'revenue_column' with the actual column name for revenue
y = df['amount']

In [49]:
x.columns

Index(['rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'rating', 'category', 'active', 'year', 'month', 'day'],
      dtype='object')

In [45]:
x.shape,y.shape

((14413, 11), (14413,))

In [159]:
df.columns

Index(['rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'rating', 'category', 'amount', 'active', 'date', 'year', 'month',
       'day'],
      dtype='object')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import Callback
import tensorflow.keras.backend as K
from sklearn.preprocessing import OneHotEncoder
import pickle
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential # to see the sequence like ip --> hl1 --> hl2--> hl3 -->o/p #to build layer by layer architecture
from keras.layers import Dense # to decide the depth of layers
import numpy as np
from keras.utils import to_categorical
import matplotlib.pyplot as plt
from tensorflow.keras.metrics import MeanSquaredError, MeanAbsoluteError
from keras.models import load_model

In [36]:
encoders_cont

{'rental_rate': LabelEncoder(), 'replacement_cost': LabelEncoder()}

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [51]:
x_train

,rental_duration,rental_rate,length,replacement_cost,rating,category,active,year,month,day
14206,5,2,140,6,2,8,1,2005,7,14
3566,3,0,151,10,3,10,1,2005,8,23
3684,7,2,147,19,1,12,1,2005,8,3
9508,7,1,154,6,0,6,1,2005,8,1
2884,7,1,89,7,0,15,1,2005,8,25
...,...,...,...,...,...,...,...,...,...,...
9393,5,0,146,5,2,5,1,2005,7,16
2882,4,0,136,3,0,14,1,2005,8,11
8940,4,2,145,1,1,4,1,2005,8,9
6688,5,2,162,14,0,10,1,2005,8,7
13848,7,1,146,12,3,5,1,2005,7,18

In [42]:
df.drop("date",axis=1,inplace=True)

In [52]:
scaler = StandardScaler() 
scaler.fit(x_train)

StandardScaler()

In [53]:
x_train_scaler = scaler.transform(x_train)
x_test_scaler = scaler.transform(x_test)

In [54]:

x_train_scaler_df=pd.DataFrame(x_train_scaler,columns = x_train.columns)
x_test_scaler_df=pd.DataFrame(x_test_scaler,columns = x_test.columns)

In [55]:
x_test_scaler_df

,rental_duration,rental_rate,length,replacement_cost,rating,category,active,year,month,day
0,-1.377830,-1.179346,-0.420484,0.460240,0.789341,-0.147178,0.164003,0.0,0.776260,-1.310254
1,1.468809,-1.179346,-1.467909,0.788322,1.501979,1.152016,0.164003,0.0,0.776260,-1.751351
2,1.468809,1.246028,1.599549,-0.359966,0.076703,0.069354,0.164003,0.0,0.776260,-1.420529
3,-1.377830,-1.179346,-0.171097,-1.016130,1.501979,1.368549,0.164003,0.0,-0.589986,1.556875
4,1.468809,1.246028,-0.420484,-0.688048,0.076703,-0.147178,0.164003,0.0,0.776260,0.454133
...,...,...,...,...,...,...,...,...,...,...
2878,0.757149,-1.179346,0.577063,-0.688048,-0.635935,-1.446373,0.164003,0.0,0.776260,0.895229
2879,-1.377830,-1.179346,-1.692357,-0.031883,1.501979,0.718951,0.164003,0.0,0.776260,1.115778
2880,1.468809,1.246028,-0.196036,0.460240,-1.348573,-1.662905,0.164003,0.0,0.776260,-0.869158
2881,-1.377830,1.246028,1.574611,1.116404,-1.348573,-0.363711,0.164003,0.0,0.776260,0.674681
2882,0.757149,1.246028,-1.592602,0.624281,0.076703,-0.580243,0.164003,0.0,0.776260,-0.979432

In [58]:

x_train_scaler_df.shape[1]

10

In [56]:

y_train.shape

(11530,)

In [57]:
x_train_scaler_df.shape, y_train.shape

((11530, 10), (11530,))

In [59]:

x_train_scaler_df.columns

Index(['rental_duration', 'rental_rate', 'length', 'replacement_cost',
       'rating', 'category', 'active', 'year', 'month', 'day'],
      dtype='object')

In [60]:
model1 = Sequential()
# Input layer (match input shape to your data)
model1.add(Dense(512, input_dim=x_train.shape[1], activation='relu'))

# Hidden layers
model1.add(Dense(256, activation='relu'))
model1.add(Dense(256, activation='relu'))
model1.add(Dense(128, activation='relu'))
model1.add(Dense(64, activation='relu'))
model1.add(Dense(64, activation='relu'))
model1.add(Dense(16, activation='relu'))


model1.add(Dense(1))

# Compile the model for regression with 'mse' loss function
model1.compile(optimizer='adam', loss='mean_squared_error', metrics=[MeanSquaredError(), MeanAbsoluteError()])

c:\Users\Jacquline\OneDrive\Desktop\DVDRental\.venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [61]:

model1.summary()

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                    â”ƒ Output Shape           â”ƒ       Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                   â”‚ (None, 512)            â”‚         5,632 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                 â”‚ (None, 256)            â”‚       131,328 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                 â”‚ (None, 256)            â”‚        65,792 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_3 (Dense)                 â”‚ (None, 128)            â”‚        32,896 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_4 (Dense)                 â”‚ (None, 64)             â”‚         8,256 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_5 (Dense)                 â”‚ (None, 64)             â”‚         4,160 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_6 (Dense)                 â”‚ (None, 16)             â”‚         1,040 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_7 (Dense)                 â”‚ (None, 1)              â”‚            17 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 249,121 (973.13 KB)

 Trainable params: 249,121 (973.13 KB)

 Non-trainable params: 0 (0.00 B)

In [62]:
# Train the model
result = model1.fit(x_train, y_train, epochs=50, validation_data=(x_test, y_test))
#model

Epoch 1/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 5s 6ms/step - loss: 129.3282 - mean_absolute_error: 4.1465 - mean_squared_error: 129.3282 - val_loss: 5.7728 - val_mean_absolute_error: 1.9606 - val_mean_squared_error: 5.7728
Epoch 2/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 6.9219 - mean_absolute_error: 2.1234 - mean_squared_error: 6.9219 - val_loss: 6.6964 - val_mean_absolute_error: 2.1064 - val_mean_squared_error: 6.6964
Epoch 3/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 6.0281 - mean_absolute_error: 1.9936 - mean_squared_error: 6.0281 - val_loss: 5.7462 - val_mean_absolute_error: 1.9578 - val_mean_squared_error: 5.7462
Epoch 4/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.7746 - mean_absolute_error: 1.9582 - mean_squared_error: 5.7746 - val_loss: 5.6555 - val_mean_absolute_error: 1.9540 - val_mean_squared_error: 5.6555
Epoch 5/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.8285 - mean_absolute_error: 1.9689 - mean_squared_error: 5.8285 - val_loss: 6.2836 - val_mean_absolute_error: 1.9933 - val_mean_squared_error: 6.2836
Epoch 6/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.8140 - mean_absolute_error: 1.9655 - mean_squared_error: 5.8140 - val_loss: 5.5717 - val_mean_absolute_error: 1.9395 - val_mean_squared_error: 5.5717
Epoch 7/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.6481 - mean_absolute_error: 1.9496 - mean_squared_error: 5.6481 - val_loss: 5.6808 - val_mean_absolute_error: 1.9454 - val_mean_squared_error: 5.6808
Epoch 8/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.7409 - mean_absolute_error: 1.9537 - mean_squared_error: 5.7409 - val_loss: 6.1699 - val_mean_absolute_error: 1.9780 - val_mean_squared_error: 6.1699
Epoch 9/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.7104 - mean_absolute_error: 1.9470 - mean_squared_error: 5.7104 - val_loss: 5.7722 - val_mean_absolute_error: 1.9462 - val_mean_squared_error: 5.7722
Epoch 10/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.4171 - mean_absolute_error: 1.8964 - mean_squared_error: 5.4171 - val_loss: 5.1075 - val_mean_absolute_error: 1.8362 - val_mean_squared_error: 5.1075
Epoch 11/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 5.0176 - mean_absolute_error: 1.8013 - mean_squared_error: 5.0176 - val_loss: 4.8423 - val_mean_absolute_error: 1.6482 - val_mean_squared_error: 4.8423
Epoch 12/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 4.0826 - mean_absolute_error: 1.6182 - mean_squared_error: 4.0826 - val_loss: 3.4946 - val_mean_absolute_error: 1.3482 - val_mean_squared_error: 3.4946
Epoch 13/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 3.2286 - mean_absolute_error: 1.4397 - mean_squared_error: 3.2286 - val_loss: 2.4795 - val_mean_absolute_error: 1.2373 - val_mean_squared_error: 2.4795
Epoch 14/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 3.0071 - mean_absolute_error: 1.3945 - mean_squared_error: 3.0071 - val_loss: 3.7498 - val_mean_absolute_error: 1.7273 - val_mean_squared_error: 3.7498
Epoch 15/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.9041 - mean_absolute_error: 1.3804 - mean_squared_error: 2.9041 - val_loss: 3.6525 - val_mean_absolute_error: 1.7077 - val_mean_squared_error: 3.6525
Epoch 16/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.8651 - mean_absolute_error: 1.3676 - mean_squared_error: 2.8651 - val_loss: 2.9236 - val_mean_absolute_error: 1.3588 - val_mean_squared_error: 2.9236
Epoch 17/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.8511 - mean_absolute_error: 1.3679 - mean_squared_error: 2.8511 - val_loss: 2.6064 - val_mean_absolute_error: 1.4037 - val_mean_squared_error: 2.6064
Epoch 18/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6812 - mean_absolute_error: 1.3246 - mean_squared_error: 2.6812 - val_loss: 2.4805 - val_mean_absolute_error: 1.3124 - val_mean_squared_error: 2.4805
Epoch 19/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.8771 - mean_absolute_error: 1.3776 - mean_squared_error: 2.8771 - val_loss: 3.1956 - val_mean_absolute_error: 1.5919 - val_mean_squared_error: 3.1956
Epoch 20/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.8595 - mean_absolute_error: 1.3654 - mean_squared_error: 2.8595 - val_loss: 2.6196 - val_mean_absolute_error: 1.2240 - val_mean_squared_error: 2.6196
Epoch 21/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6998 - mean_absolute_error: 1.3342 - mean_squared_error: 2.6998 - val_loss: 2.4471 - val_mean_absolute_error: 1.2327 - val_mean_squared_error: 2.4471
Epoch 22/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6433 - mean_absolute_error: 1.3244 - mean_squared_error: 2.6433 - val_loss: 2.4405 - val_mean_absolute_error: 1.2761 - val_mean_squared_error: 2.4405
Epoch 23/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6966 - mean_absolute_error: 1.3300 - mean_squared_error: 2.6966 - val_loss: 3.1762 - val_mean_absolute_error: 1.5716 - val_mean_squared_error: 3.1762
Epoch 24/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.9386 - mean_absolute_error: 1.3896 - mean_squared_error: 2.9386 - val_loss: 2.9629 - val_mean_absolute_error: 1.5163 - val_mean_squared_error: 2.9629
Epoch 25/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6950 - mean_absolute_error: 1.3234 - mean_squared_error: 2.6950 - val_loss: 2.4854 - val_mean_absolute_error: 1.2243 - val_mean_squared_error: 2.4854
Epoch 26/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6664 - mean_absolute_error: 1.3091 - mean_squared_error: 2.6664 - val_loss: 3.0844 - val_mean_absolute_error: 1.5510 - val_mean_squared_error: 3.0844
Epoch 27/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.7545 - mean_absolute_error: 1.3478 - mean_squared_error: 2.7545 - val_loss: 3.3818 - val_mean_absolute_error: 1.3205 - val_mean_squared_error: 3.3818
Epoch 28/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.8697 - mean_absolute_error: 1.3633 - mean_squared_error: 2.8697 - val_loss: 2.5827 - val_mean_absolute_error: 1.3884 - val_mean_squared_error: 2.5827
Epoch 29/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6318 - mean_absolute_error: 1.3120 - mean_squared_error: 2.6318 - val_loss: 2.3948 - val_mean_absolute_error: 1.2534 - val_mean_squared_error: 2.3948
Epoch 30/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6214 - mean_absolute_error: 1.3056 - mean_squared_error: 2.6214 - val_loss: 2.9192 - val_mean_absolute_error: 1.2514 - val_mean_squared_error: 2.9192
Epoch 31/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.7722 - mean_absolute_error: 1.3339 - mean_squared_error: 2.7722 - val_loss: 2.4884 - val_mean_absolute_error: 1.2720 - val_mean_squared_error: 2.4884
Epoch 32/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.5990 - mean_absolute_error: 1.2926 - mean_squared_error: 2.5990 - val_loss: 2.8559 - val_mean_absolute_error: 1.2354 - val_mean_squared_error: 2.8559
Epoch 33/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6214 - mean_absolute_error: 1.3061 - mean_squared_error: 2.6214 - val_loss: 2.5561 - val_mean_absolute_error: 1.2169 - val_mean_squared_error: 2.5561
Epoch 34/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 6ms/step - loss: 2.6391 - mean_absolute_error: 1.3116 - mean_squared_error: 2.6391 - val_loss: 2.4384 - val_mean_absolute_error: 1.2535 - val_mean_squared_error: 2.4384
Epoch 35/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.7236 - mean_absolute_error: 1.3279 - mean_squared_error: 2.7236 - val_loss: 2.4266 - val_mean_absolute_error: 1.2683 - val_mean_squared_error: 2.4266
Epoch 36/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5492 - mean_absolute_error: 1.2861 - mean_squared_error: 2.5492 - val_loss: 2.4829 - val_mean_absolute_error: 1.2180 - val_mean_squared_error: 2.4829
Epoch 37/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.7835 - mean_absolute_error: 1.3317 - mean_squared_error: 2.7835 - val_loss: 2.4560 - val_mean_absolute_error: 1.3180 - val_mean_squared_error: 2.4560
Epoch 38/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5380 - mean_absolute_error: 1.2867 - mean_squared_error: 2.5380 - val_loss: 2.4772 - val_mean_absolute_error: 1.3258 - val_mean_squared_error: 2.4772
Epoch 39/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5325 - mean_absolute_error: 1.2867 - mean_squared_error: 2.5325 - val_loss: 2.4441 - val_mean_absolute_error: 1.3255 - val_mean_squared_error: 2.4441
Epoch 40/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6080 - mean_absolute_error: 1.3156 - mean_squared_error: 2.6080 - val_loss: 2.4725 - val_mean_absolute_error: 1.3351 - val_mean_squared_error: 2.4725
Epoch 41/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6318 - mean_absolute_error: 1.3122 - mean_squared_error: 2.6318 - val_loss: 2.5654 - val_mean_absolute_error: 1.2191 - val_mean_squared_error: 2.5654
Epoch 42/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.7129 - mean_absolute_error: 1.3280 - mean_squared_error: 2.7129 - val_loss: 2.4555 - val_mean_absolute_error: 1.2356 - val_mean_squared_error: 2.4555
Epoch 43/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5061 - mean_absolute_error: 1.2806 - mean_squared_error: 2.5061 - val_loss: 2.4201 - val_mean_absolute_error: 1.2862 - val_mean_squared_error: 2.4201
Epoch 44/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5606 - mean_absolute_error: 1.2922 - mean_squared_error: 2.5606 - val_loss: 2.5568 - val_mean_absolute_error: 1.3761 - val_mean_squared_error: 2.5568
Epoch 45/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6001 - mean_absolute_error: 1.3023 - mean_squared_error: 2.6001 - val_loss: 2.4559 - val_mean_absolute_error: 1.3282 - val_mean_squared_error: 2.4559
Epoch 46/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.4888 - mean_absolute_error: 1.2693 - mean_squared_error: 2.4888 - val_loss: 2.3971 - val_mean_absolute_error: 1.2525 - val_mean_squared_error: 2.3971
Epoch 47/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3s 5ms/step - loss: 2.7007 - mean_absolute_error: 1.3289 - mean_squared_error: 2.7007 - val_loss: 2.4987 - val_mean_absolute_error: 1.3476 - val_mean_squared_error: 2.4987
Epoch 48/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.5601 - mean_absolute_error: 1.2949 - mean_squared_error: 2.5601 - val_loss: 2.8206 - val_mean_absolute_error: 1.4636 - val_mean_squared_error: 2.8206
Epoch 49/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.7136 - mean_absolute_error: 1.3341 - mean_squared_error: 2.7136 - val_loss: 2.5448 - val_mean_absolute_error: 1.2161 - val_mean_squared_error: 2.5448
Epoch 50/50
361/361 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - loss: 2.6376 - mean_absolute_error: 1.3100 - mean_squared_error: 2.6376 - val_loss: 2.3881 - val_mean_absolute_error: 1.2484 - val_mean_squared_error: 2.3881